<!DOCTYPE html>
<html>
<head>
	<title>My bills App</title>
</head>
<body>
	<h2>Upload the bill image</h2>
	<form method="post" enctype=multipart/form-data>
		<input type="file" name="file">
		<putText \n >
	  <label for="fname">Moneda de entrada:</label><br>
	  <input type="text" id="div_in" name="div_in" value="CLP"><br>
	  <label for="lname">Moneda de salida:</label><br>
	  <input type="text" id="out" name="out" value="USD"><br><br>
	  <input type="submit" value="upload">
	</form>

</body>
</html>
